/* Import fonts */
@import './fonts.css';

/* color combinations */
:root {
    --main-color: #0D2762;
    --secondary-color: #173E81;
    --whiteColor: #fff;
    --nav-hover-color: #82D8EF;
    --nav-hover-bg: #82d8ef17;
    --top-nav-bg: #cbd8e9;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
}

/* SIDEBAR */
aside {
    max-width: fit-content;
    grid-template-rows: 10% 1fr 1fr;
    background: rgb(37, 76, 93);
    background: linear-gradient(180deg, var(--main-color) 0%, var(--secondary-color) 100%);
    min-height: 100vh;
    position: fixed;
    z-index: 2;
}
.account-navigation {
    display: flex;
    align-items: flex-end;
    height: 100%;
}
.main-logo > .logo {
    font-size: 50px;
    color: var(--whiteColor);
}
.main-navigation a i {
    width: 30px;
}
.nav-link {
    font-size: 1em;
    transition: 0.2s all ease-in-out;
}
.nav-link  * {
    transition: 0.2s all ease-in-out;
}
.nav-link.active *, .nav-link:hover * {
    color: var(--nav-hover-color);
}
.main-navigation a:hover, .main-navigation a.active {
    background: var(--nav-hover-bg);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
img.user-img {
    max-width: 48px;
    border-radius: 50%;
}

/* body content */
.body-container {
    padding-left: var(--asidePadding);
    position: relative;
    z-index: 1;
}
.breadcrumbs {
    display: flex;
    gap: 20px;
    align-items: center;
    text-transform: uppercase;
}
.top-navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: var(--top-nav-bg);
    align-items: center;
}
.colr-active {
    color: var(--secondary-color);
}
.content-container {
    min-height: 50vh;
    padding-top: 40px;
    
}

/* TABLE */
.tableWrapper {
    max-width: 95%;
    margin: 0 auto;
    width: 100%;
   
}
.tableWrapper table.loading {
    min-height: 300px;
    position: relative;
}
.pagination > li:not(:first-child) {
    border-left: 0;
}
.pagination > li {
    padding: 2px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.pagination > li:hover {
    background-color: #cccccc30;
}
.pagination > li.active {
    background-color: #cccccc87;
}
.table-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table.loading > tbody tr, table.loading ~ * {
    display: none;
}
table.loading:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
    background: url(./images/loading-icon.png);
    background-position: center;
    background-size: 100%;
    animation: rotate 0.75s linear infinite;
}
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}